loguru
requests
pyTelegramBotAPI
cryptography
google-cloud-speech
wavinfo
soundfile
wave
pydub
pyyaml
numpy
configparser
paho-mqtt
urllib3>=2.2.2 # not directly required, pinned by Snyk to avoid a vulnerability